@import '~bootstrap/scss/bootstrap';
.agora-nav{
    font-size: 30px;
}

body {
    background-color: #2b2a2a; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

$postHeight : 70vh;
$postWidth : 35vw;
$postWidthOther : 50vw;
$arrowTop : 5vh;


.div_post {
    color: #17a2b8;
    position: absolute;
    /* background-color: #adadad; */
    /* background-color: #2c3034; */
    background-color: #2b2a2a;
    // background: linear-gradient(#2b2a2a, #2b2a2a);
    border-radius: 10px;
    height: $postHeight;
    width: $postWidthOther;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #17a2b8;
    overflow-y: scroll;

   
}

.test1{
    height:62vh;
    overflow-y: scroll;
}


.div_post::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  .div_post::-webkit-scrollbar-track {
    display: none;
  }
   
  /* Handle */
  .div_post::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75); 
    border-radius: px;
  }
  
  /* Handle on hover */
  .div_post::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f; 
  }

  .test1::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  .test1::-webkit-scrollbar-track {
    display: none;
  }
   
  /* Handle */
  .test1::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75); 
    border-radius: px;
  }
  
  /* Handle on hover */
  .test1::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f; 
  }


.ensembleTourniquer
{
    box-sizing: border-box;
}

.arrow-system
{
    /* system sur le cote
    margin-top: 240px; */
}

.bouton_options{
    border: 2px solid #17a2b8;
    background-color: none;
}
.color_bouton_options{
    color: #17a2b8;
}



.tourniquer
{
    margin-top: 40vh;
    height: auto;
    width: auto;
    z-index:1;

    .mid-slide
    {
        box-sizing: border-box;
        width: auto;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 0;
        
        transform: translate3d(0, 0, 0) scale(1);
        z-index: 2;
        transition: all 0.3s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;

        .test2{
            position:absolute;
            bottom:0;
            background-color: #4d4d4d;
            width: 100%;
            z-index: 4;
        }
    }


}

.test2{
    position:absolute;
    bottom:0;
    background-color: #4d4d4d;
    width: 100%;
    z-index: 4;
}

.left-slide
{
    box-sizing: border-box;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
   
    transition: all 0.3s;
    transform: translate3d(-237px, 0, 0) scale(0.87);
    opacity: 1;
    z-index: 1;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
}



.right-slide
{
    box-sizing: border-box;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    
    transition: all 0.3s;
    transform: translate3d(237px, 0, 0) scale(0.87);
    opacity: 1;
    z-index: 1;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
}


.vide
{
    box-sizing: border-box;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    
    transition: all 0.3s;
    transform: translate3d(-237px, 0, 0) scale(0.87);
    opacity: 0;
    z-index: 1;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    filter: brightness(.9);
    pointer-events:none;
}
.slide-vide
{
    opacity: 0;
}


.rotation_left_fast{
    margin-top: 5vh; 
    /* background-color: #04040433;  */
    height: $postHeight;
    width: $postWidth;
    z-index: 2;
    cursor: url("../../assets/image/fast-backward-solid-blue.png"), auto;

    
}
.rotation_left{
    margin-top: 5vh; 
    /* background-color: #3c3c3c2e;  */
    height: $postHeight;
    width: $postWidth;
    z-index: 2;
    cursor: url("../../assets/image/step-backward-solid-blue.png"), auto;
}
.rotation_center{
    margin-top: 5vh; 
    /* background-color: #04040433;  */
    height: $postHeight;
    width: $postWidth;
    z-index: 0;
    cursor: pointer;
}

.rotation_right{
    margin-top: 5vh; 
    /* background-color: #3c3c3c2e;  */
    height: $postHeight;
    width: $postWidth; 
    z-index: 2;
    cursor: url("../../assets/image/step-forward-solid-blue.png"), auto;
}
.rotation_right_fast{
    margin-top: 5vh; 
    /* background-color: #04040433;  */
    height: $postHeight;
    width: $postWidth; 
    z-index: 2;
    cursor: url("../../assets/image/fast-forward-solid-blue.png"), auto;
}


.rotation_left_fast_black{
    margin-top: 5vh; 
    /* background-color: #04040433;  */
    height: $postHeight;
    width: $postWidth; 
    z-index: 2;
    cursor: url("../../assets/image/fast-backward-solid.png"), auto;

    
}
.rotation_left_black{
    margin-top: 5vh; 
    /* background-color: #3c3c3c2e;  */
    height: $postHeight;
    width: $postWidth; 
    z-index: 2;
    cursor: url("../../assets/image/step-backward-solid.png"), auto;
}

.rotation_right_black{
    margin-top: 5vh; 
    /* background-color: #3c3c3c2e;  */
    height: $postHeight;
    width: $postWidth; 
    z-index: 2;
    cursor: url("../../assets/image/step-forward-solid.png"), auto;
}
.rotation_right_fast_black{
    margin-top: 5vh; 
    /* background-color: #04040433;  */
    height: $postHeight;
    width: $postWidth; 
    z-index: 2;
    cursor: url("../../assets/image/fast-forward-solid.png"), auto;
}

textarea {
    resize: none;
    height:80%;
    width: 80%;
  }





.btn_close{
    margin-top: 5px;
    margin-right: 5px;
    display: none;
}

.bouton_close_sombre{
    border: 2px solid #17a2b8;
    background-color: none;
    color: #17a2b8;
}

.bouton_close_sombre:hover{
    background-color: #17a2b8;
    color:white;
}

.bouton_close_claire{
    border: 2px solid #000;
    background-color: none;
    color: black;
}

.bouton_close_claire:hover{
    background-color: black;
    color:white;
}

