{% extends 'public/layout.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1>Create new Article</h1>

        {{ include('article/_form.html.twig') }}

        <a href="{{ path('article_index') }}">back to list</a>
    </div>
{% endblock %}
