<form method="post" action="{{ path('lost_like', {'idArticle': signet.article.id}) }}" onsubmit="return confirm('Vous etes sur de voulour l'enlever de vos favoris ?');">
    <button class="btn btn-secondary">Supprimer</button>
</form>